div(ng-repeat="item in publicIndexCtrl.data")
  div {{item | json}}


br
table(class="table table-striped")
  thead(class="thead-dark")
    tr
      th {{'Hu'}}
      th {{'Hu'}}
      th {{'Hu'}}
  tbody(ng-repeat="item in publicIndexCtrl.data")
    tr
      td {{'Hu'}}
      td {{'Hu'}}
      td {{'Hu'}}
    tr
      td {{'Hu'}}
      td {{'Hu'}}
      td {{'Hu'}}
    tr
      td {{'Hu'}}
      td {{'Hu'}}
      td {{'Hu'}}
    tr
      td {{'Hu'}}
      td {{'Hu'}}
      td {{'Hu'}}



