
p {{'Test task'}}

table(class="table table-striped")
  thead(class="thead-dark")
    tr
      th {{'Hu'}}
      th {{'Hu'}}
      th {{'Hu'}}
  tbody    
    tr
      td {{'Hu'}}
      td {{'Hu'}}
      td {{'Hu'}}
    tr
      td {{'Hu'}}
      td {{'Hu'}}
      td {{'Hu'}}
    tr
      td {{'Hu'}}
      td {{'Hu'}}
      td {{'Hu'}}
    tr
      td {{'Hu'}}
      td {{'Hu'}}
      td {{'Hu'}}