form
   div
      .form-group
        input.form-control(type='text' ng-model="personFormCtrl.newPerson.CARD" placeholder="CARD")
      .form-group
        input.form-control(type='text' ng-model="personFormCtrl.newPerson.LASTNAME" placeholder="LASTNAME")
      .form-group
        input.form-control(type='text' ng-model="personFormCtrl.newPerson.FIRSTNAME" placeholder="FIRSTNAME")
      .form-group
        input.form-control(type='text' ng-model="personFormCtrl.newPerson.PATRONYMIC" placeholder="PATRONYMIC")
   div
      .form-group
        input.form-control(type='text' ng-model="personFormCtrl.newPerson.IDPERSON" placeholder="IDPERSON")
      .form-group
        input.form-control(type='text' ng-model="personFormCtrl.newPerson.STATUSNAME" placeholder="STATUSNAME")
      .form-group
        input.form-control(type='text' ng-model="personFormCtrl.newPerson.ACC1NUM" placeholder="ACC1NUM")
      .form-group
        input.form-control(type='text' ng-model="personFormCtrl.newPerson.CARDTEMPLNAME" placeholder="CARDTEMPLNAME")
   div
      .form-group
        input.form-control(type='text' ng-model="personFormCtrl.newPerson.ORGNAMESHORT" placeholder="ORGNAMESHORT")
      .form-group
        input.form-control(type='text' ng-model="personFormCtrl.newPerson.PERSONTYPENAME" placeholder="PERSONTYPENAME")
      .form-group
        input.form-control(type='text' ng-model="personFormCtrl.newPerson.CURRNAME" placeholder="CURRNAME")
      .form-group
        input.form-control(type='text' ng-model="personFormCtrl.newPerson.IDCARD" placeholder="IDCARD")
   div
      .form-group
        input.form-control(type='text' ng-model="personFormCtrl.newPerson.BIRTHDATE" placeholder="BIRTHDATE")
      .form-group
        input.form-control(type='text' ng-model="personFormCtrl.newPerson.DOCSERIES" placeholder="DOCSERIES")
      .form-group
        input.form-control(type='text' ng-model="personFormCtrl.newPerson.DOCNUM" placeholder="DOCNUM")
      .form-group
        input.form-control(type='text' ng-model="personFormCtrl.newPerson.IDTASKAUTHSTATUS" placeholder="IDTASKAUTHSTATUS")
      .form-group
        input.form-control(type='text' ng-model="personFormCtrl.newPerson.DOCTYPENAME" placeholder="DOCTYPENAME")
     
a(ng-click="personFormCtrl.addItem()" href="") Добавить
