div.sroll_table
   table(class="table table-striped")
     thead.thead-dark
       tr.table_tr
         th {{'Action'}}
         th {{'CARD'}}
         th.text-center {{'LASTNAME'}}
         th.text-center {{'FIRSTNAME'}}
         th {{'PATRONYMIC'}}
         th {{'IDPERSON'}}
         th {{'STATUSNAME'}}
         th {{'ACC1NUM'}}
         th {{'CARDTEMPLNAME'}}
         th {{'ORGNAMESHORT'}}
         th {{'PERSONTYPENAME'}}
         th {{'CURRNAME'}}
         th {{'IDCARD'}}
         th {{'BIRTHDATE'}}
         th {{'DOCSERIES'}}
         th {{'DOCNUM'}}
         th {{'IDTASKAUTHSTATUS'}}
         th {{'DOCTYPENAME'}}
     tbody(ng-repeat="item in personCtrl.data track by $index")
       tr(class="table_tr")
         td(ng-click="personCtrl.delItem(item, $index)"
            class="action_del") {{'DELETE'}}
         td {{item.CARD}}
         td.text-center {{item.LASTNAME}}
         td.text-center {{item.FIRSTNAME}}
         td {{item.PATRONYMIC}}
         td {{item.IDPERSON}}
         td {{item.STATUSNAME}}
         td {{item.ACC1NUM}}
         td {{item.CARDTEMPLNAME}}
         td {{item.ORGNAMESHORT}}
         td {{item.PERSONTYPENAME}}
         td {{item.CURRNAME}}
         td {{item.IDCARD}}
         td {{item.BIRTHDATE}}
         td {{item.DOCSERIES}}
         td {{item.DOCNUM}}
         td {{item.IDTASKAUTHSTATUS}}
         td {{item.DOCTYPENAME}}




form
   div
      .form-group
        input.form-control(type='text' ng-model="personCtrl.newPerson.CARD")
      .form-group
        input.form-control(type='text' ng-model="personCtrl.newPerson.LASTNAME")
      .form-group
        input.form-control(type='text' ng-model="personCtrl.newPerson.FIRSTNAME")
      .form-group
        input.form-control(type='text' ng-model="personCtrl.newPerson.PATRONYMIC")
   div
      .form-group
        input.form-control(type='text' ng-model="personCtrl.newPerson.IDPERSON")
      .form-group
        input.form-control(type='text' ng-model="personCtrl.newPerson.STATUSNAME")
      .form-group
        input.form-control(type='text' ng-model="personCtrl.newPerson.ACC1NUM")
      .form-group
        input.form-control(type='text' ng-model="personCtrl.newPerson.CARDTEMPLNAME")
   div
      .form-group
        input.form-control(type='text' ng-model="personCtrl.newPerson.ORGNAMESHORT")
      .form-group
        input.form-control(type='text' ng-model="personCtrl.newPerson.PERSONTYPENAME")
      .form-group
        input.form-control(type='text' ng-model="personCtrl.newPerson.CURRNAME")
      .form-group
        input.form-control(type='text' ng-model="personCtrl.newPerson.IDCARD")
   div
      .form-group
        input.form-control(type='text' ng-model="personCtrl.newPerson.BIRTHDATE")
      .form-group
        input.form-control(type='text' ng-model="personCtrl.newPerson.DOCSERIES")
      .form-group
        input.form-control(type='text' ng-model="personCtrl.newPerson.DOCNUM")
      .form-group
        input.form-control(type='text' ng-model="personCtrl.newPerson.IDTASKAUTHSTATUS")
      .form-group
        input.form-control(type='text' ng-model="personCtrl.newPerson.DOCTYPENAME")
     
a(ng-click="personCtrl.addItem()" href="") Добавить
